<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>List Posted Cars</title>
<style>
	body{
	background-image: url("/images/images1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}
.well{
	opacity: 0.6;
}

</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  	<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Let's Carpool</a>
    </div>
    
  </div>
</nav>
<h2>Posted list</h2>


           <table border="1">
               <thead>	
			<tr>
			<td><b>INFORMATION</b></td>
			<td><b>ARRIVAL</b></td>
			<td><b>DESTINATION</b></td>
			<td><b>CAR PHOTO</b></td>
			</tr>
			</thead>
			<tbody>
			#foreach($post in $postCar)
			<tr>
				<td>${post.info}</td>
				<td>${post.arrivalFrom}</td>
				<td>${post.destinationTo}</td>
				<td> <img height="150" width="150" src="${post.fileName}" /></td>
				
			</tr>
		</tbody>
		#end
            </table>
</body>
</html>